// blok 3 
body {  
     list-style-type: none;   
     font-family: var(--main-font);
     background-color: var(--primary-bg-color);
     color: var(--primary-text-color);  
}

img {
     display: block;
     max-width: 100%;
     height: auto;
}