.produce {
     display: none;
     @media screen and (min-width: 1199px) {
          display: flex;
          padding-top: 0;
          padding-bottom: 94px;
     }
}

.produce__title {
     margin-top: 0;
     margin-bottom: 50px;
     font-weight: 700;
     font-size: 36px;
     line-height: calc(42/36);
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--title-text-color);
}
.produce__list {
     display: flex;
     justify-content: space-between;
     gap: 30px;
}
.produce__item {
     position: relative;
}
.produce__img {
     display: block;
     max-width: 100%;
     height: auto;
}
.produce__text {
     display: flex;
     position: absolute;
     bottom: 0;
     height: 70px;
     width: 100%;
     background: rgba(47, 48, 58, 0.8);
     font-size: 14px;
     font-weight: 700;
     line-height: calc(16/14);
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primary-bg-color);
     justify-content: center;
     align-items: center;
}
.poduce__title {
     display: block;
     margin: 0;
}